@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

/*Coal*/
.ipadborder {
  margin: 0 auto;
  padding-top: 60px;
  max-width: 1000px;
  border: 1px solid black;
}

.btn {
  color: white;
  text-decoration: none;
  padding: 20px 0;
  border-radius: 30px;
  font-family: "Questrial";
  font-size: 18px;
  text-align: center;
}
.btn__start {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  width: 25%;
}
.btn__return {
  border-radius: 24px;
  padding: 15px 0;
  display: block;
  width: 25%;
}

.btn-main {
  background: #006b69;
}
.btn-main:hover {
  background: #004241;
  transition: all 0.3s ease;
}
.btn-main:active {
  background: #009e9b;
}

.btn-heading {
  background: #54a392;
}
.btn-heading:hover {
  background: #46887a;
  transition: all 0.3s ease;
}
.btn-heading:active {
  background: #73b7a8;
}

.btn-add {
  background: #008a42;
}
.btn-add:hover {
  background: #00612e;
  transition: all 0.3s ease;
}
.btn-add:active {
  background: #00bd5a;
}

.btn-cancel {
  background: #ffffff;
  color: #006b69;
}
.btn-cancel:hover {
  background: #ebebeb;
  transition: all 0.3s ease;
}
.btn-cancel:active {
  background: white;
}

.logo__img {
  display: block;
  margin: 0 auto;
  width: 30%;
}
.logo__table {
  display: block;
  width: 30%;
  margin: 0 auto;
}
.logo__all {
  margin-bottom: 20px;
}

.greeting {
  color: #707070;
  font-family: "Questrial";
  font-size: 36px;
  font-weight: 100;
  padding-bottom: 60px;
  text-align: center;
}

.box {
  text-align: center;
}
.box__table {
  font-size: 16px;
  text-align: left;
  margin-top: 20px;
  padding: 0 0 40px;
}

.heading {
  color: #707070;
  font-family: "Questrial";
  font-size: 36px;
  font-weight: 100;
}
.heading__table {
  padding: 20px 0;
  text-align: center;
}
.heading__menu {
  padding: 20px 0;
  text-align: right;
}
.heading__endpage {
  padding: 0 0 40px 0;
  text-align: center;
}

.container__endpage {
  margin: 100px auto;
}