@import "https://fonts.googleapis.com/css2?family=Questrial&display=swap";
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
.btn {
  color: #fff;
  padding: 20px 28px;
  border-radius: 30px;
  font-family: "Questrial";
  font-size: 28px;
}
.btn-main {
  background: #006b69;
}
.btn-main:hover {
  background: #004241;
  transition: all 0.3s ease;
}
.btn-main:active {
  background: #009e9b;
}
.btn-heading {
  background: #54a392;
}
.btn-heading:hover {
  background: #46887a;
  transition: all 0.3s ease;
}
.btn-heading:active {
  background: #73b7a8;
}
.btn-add {
  background: #008a42;
}
.btn-add:hover {
  background: #00612e;
  transition: all 0.3s ease;
}
.btn-add:active {
  background: #00bd5a;
}
.btn-cancel {
  background: #fff;
  color: #006b69;
}
.btn-cancel:hover {
  background: #ebebeb;
  transition: all 0.3s ease;
}
.btn-cancel:active {
  background: #fff;
}
.start-btn {
  display: grid;
  margin: 0 auto;
  width: 30%;
  justify-content: center;
}
.logo__img {
  display: block;
  margin: 25px auto;
  width: 40%;
  padding-left: 20px;
}
.logo__start .container {
  padding-top: 3%;
}
.greeting {
  font-family: "Questrial";
  color: #707070;
  padding-top: 50px;
  text-align: center;
} 


