$font-stack: 'Questrial', sans-serif;
$font-script: 'Dancing Script', cursive; 
$background-colour: #f4f4f4;
$logo-colour: #3B3B3B; /*Coal*/
$heading-colour: #707070; 
//$mainbutton-colour: #006B69; /*Teal*///
//$headingbutton-colour: #54A392; /*Seafoam*///
//$addbutton-colour: #008A42; /*Grass*///

$sage: #9FB29D;
$seafoam: #54A392;
$grass: #008A42;
$teal: #006B69;
$coal: #3B3B3B;

@mixin mainbutton-theme {
    background-color: #006B69;
    border-color: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-flex
   
}

//body {
   // background-color: $background-colour;
    //font-family: $font-stack;
    //line-height: 1.6;
//}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}


img {
    width: 100%;
    }

.startpage {
    background-color: $background-colour;
    color: $heading-colour;
    
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;



        }

    }




.greeting{
font-family: $font-stack;
color: $heading-colour;
padding-top: 50px;
text-align: center;
}
