* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

$button-font: "Questrial";
$logo-font: "Dancing Script";
$heading-font: "Comfortaa";

$background-colour: #f4f4f4;
$logo-colour: #3b3b3b; /*Coal*/
$heading-colour: #707070;
$sage: #9FB29D;
$seafoam: #54A392;
$grass: #008A42;
$teal: #006B69;
$coal: #3B3B3B;

@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background: darken($bg, 8%);
    transition: all 0.3s ease;
  }
  &:active {
    background: lighten($bg, 10%);
  }
}

.btn {
  color: white;
  //padding: 20px 28px;
  //border-radius: 30px;
  font-family: $button-font;
  font-size: 28px;

  &-main {
    @include button-bg($teal);
  }

  &-heading {
    @include button-bg($seafoam);
  }
  
  &-add {
    @include button-bg($grass);
  }

  &-cancel {
    @include button-bg(#ffffff);
    color: $teal;
  }

  &__start {
  display: flexbox;
  margin: 0 auto;
  width: 30%;
  justify-content: center;
  }
}

.start-btn{
  display: grid;
  margin: 0 auto;
  width: 30%;
  justify-content: center;
}

.logo {
  
  // &__all { - tried to use this for table.html but it just blows up? used img instead
  //   display: block;
  //   margin: 25px auto;
  //   width: 40%;
  //   padding-left: 20px;
  // }
  
  &__img {
    display: block;
    margin: 25px auto;
    width: 40%;
    padding-left: 20px;
  }
}

.ipadborder {
  max-height: 1000px;
  max-width: 1000px;
}

.container {
  padding-top: 3%;
}

.greeting {
  font-family: $font-stack;
  color: $heading-colour;
  padding-top: 50px;
  text-align: center;
}

.heading {

  &__table{
    font-family: $heading-font;
    text-align: center;
    color: $heading-colour;
    padding-top: 50px;
    padding-left: 70px;
    justify-content: center;  
  }

}



.box {
  
  &__table { 
    display: block;
}
}